agate==1.6.1
alembic==1.6.5
aniso8601==7.0.0
asn1crypto==1.4.0
attrs==21.2.0
azure-common==1.1.27
azure-core==1.16.0
azure-storage-blob==12.8.1
Babel==2.9.1
bleach==3.3.0
boto3==1.15.18
botocore==1.18.18
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.3
coloredlogs==14.0
configobj==5.0.6
croniter==1.0.15
cryptography==3.4.7
dagit==0.11.16
dagster==0.11.16
dagster-dbt==0.11.16
dagster-graphql==0.11.16
dagster-pandas==0.11.16
dbt==0.19.2
dbt-bigquery==0.19.2
dbt-core==0.19.2
dbt-postgres==0.19.2
dbt-redshift==0.19.2
dbt-snowflake==0.19.2
decorator==4.4.2
defusedxml==0.7.1
docstring-parser==0.7.1
entrypoints==0.3
Flask==1.1.4
Flask-Cors==3.0.10
Flask-GraphQL==2.0.1
Flask-Sockets==0.2.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
google-api-core==1.23.0
google-auth==1.32.1
google-cloud-bigquery==2.3.1
google-cloud-core==1.4.4
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.52.0
gql==2.0.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
graphql-ws==0.3.1
greenlet==1.1.0
grpcio==1.38.1
grpcio-health-checking==1.38.1
hologram==0.0.13
humanfriendly==9.2
idna==2.9
importlib-metadata==4.6.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
json-rpc==1.13.0
jsonschema==3.1.1
jupyter-core==4.7.1
keyring==21.8.0
leather==0.3.3
Logbook==1.5.3
Mako==1.1.4
MarkupSafe==2.0.1
mashumaro==2.0
minimal-snowplow-tracker==0.0.2
mistune==0.8.4
msgpack==1.0.2
msrest==0.6.21
nbconvert==5.6.1
nbformat==5.1.3
networkx==2.5.1
numpy==1.21.0
oauthlib==3.1.1
oscrypto==1.2.1
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parsedatetime==2.6
pendulum==2.1.2
pgcli==3.1.0
pgspecial==1.13.0
pip==21.1.3
promise==2.3
prompt-toolkit==3.0.19
proto-plus==1.19.0
protobuf==3.17.3
psycopg2==2.9.1
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.10.1
Pygments==2.9.0
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
python-editor==1.0.4
python-slugify==5.0.2
pytimeparse==1.1.8
pytz==2020.5
pytzdata==2020.1
PyYAML==5.4.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.7.2
Rx==1.6.1
s3transfer==0.3.7
setproctitle==1.2.2
setuptools==52.0.0.post20210125
six==1.16.0
snowflake-connector-python==2.3.6
SQLAlchemy==1.4.20
sqlparse==0.3.1
tabulate==0.8.9
terminaltables==3.1.0
testpath==0.5.0
text-unidecode==1.3
toposort==1.6
tqdm==4.61.1
traitlets==5.0.5
typing-compat==0.1.0
typing-extensions==3.7.4.3
urllib3==1.25.11
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.36.2
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
